@if (TempData["success"] != null)  //used for displaying notification
{
   // <h2>@TempData["success"]</h2>
     <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
     <script type="text/javascript">
        toastr.success('@TempData["success"]');
     </script>
}

@if (TempData["error"] != null)  //used for displaying notification
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
}
